<h1><%= @meetup.name %></h1>
<h3>Creator: <%= @meetup.creator.username %></h3>
<h3>Location: <%= @meetup.location %></h3>
<h3>Description: <%= @meetup.description %></h3>

<h3>Meetup Members</h3>
<ul></ul>


<button action="/meetups/:id?id=<%=@%>" method="post" name="meetup_join">Join Meetup</button><br><br><br>

<a href="/meetups">Back to Meetups</a>
