<h1><%= @meetup.name %></h1>
<h3>Creator: <%= @meetup.creator.username %></h3>
<h3>Location: <%= @meetup.location %></h3>
<h3>Description: <%= @meetup.description %></h3>

<h3>Meetup Members</h3>

<% @member_info.each do |member| %>
<ul><li><img width=50px src= "<%= member.avatar_url %>" ><%= member.username %></li></ul>
<% end %>



<form action="/meetups/<%= @meetup.id %>" method="post">
  <input type="submit" value="Join this Meetup"/>
</form>

<% if @error %>
  <p><%= @error %></p>
<% end %>
